
@{
    ViewBag.Title = "SignUp";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>회원가입</title>
</head>
<body>
    <div>
        <label>이메일 입력</label>
        <input type="email" name="email" id="email" required />
        <span id="check-email-span"></span>
    </div>
    <div>
        <label>비밀번호</label>
        <input type="password" name="pw" id="pw" required />
    </div>
    <div>
        <label>이름</label>
        <input type="text" name="name" id="name" required />
    </div>
    <div>
        <label>생일</label>
        <input type="date" name="birth" id="birth" required />
    </div>
    <button id="signUp">회원가입</button>
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    let flag = false;
    $('#email').keyup(() => {
        const emailAdr = $("#email").val();

        if (!email_check(emailAdr)) {
            document.querySelector('#check-email-span').innerHTML = "이메일 형식에 맞게 입력해주세요.";
            return false;
        }

        const param = { Email: $('#email').val(), }
        $.ajax({
            url: '/User/EmailCheck',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(param),
            contentType: 'application/json',
            success: function (data) {
                if (data === 1) {
                    document.querySelector('#check-email-span').innerHTML = "이미 가입된 이메일 입니다.";
                    flag = null;
                }
                else {
                    document.querySelector('#check-email-span').innerHTML = "회원 가입 가능한 이메일 입니다.";
                    flag = true;
                }
            },
            error: function (err) {
            }
        });
    });
    $('#signUp').click(() => {
        if (flag === true) {
            const param = {
                Email: $('#email').val(),
                Pw: $('#pw').val(),
                Name: $('#name').val(),
                Birth: $('#birth').val(),

            }
            $.ajax({
                url: '/User/SignUp',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(param),
                contentType: 'application/json',
                success: function (data) {
                    if (data === true) {
                        alert('회원가입이 완료 되었습니다.');
                        location.href = '/User/LogIn';
                    }
                    else if (data === false)
                    {
                        alert('회원 정보를 올바르게 기입해주세요.')
                    }
                },
                error: function (err) {
                }
            });
        }
        else {
            alert('회원가입이 되지 않았습니다.');
        }
    })
    function email_check(email) {
        var reg = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
        return reg.test(email);
    }
</script>