
@{
    ViewBag.Title = "Write";
}

<h2>Write</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <h2>글작성</h2>
    <form id="FileUploadForm">
        <div class="form-group">
            <label>제목</label>
            <input type="text" class="form-control" placeholder="제목" id="title" required>
        </div>
        <div class="form-group">
            <label>작성자</label>
            <input type="text" class="form-control" id="writer" value=@Session["Name"] readonly>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">글 내용</label>
            <textarea class="form-control" rows="5" id="main-content" required></textarea>
        </div>
        <input id="fileInput" type="file" multiple accept="image/jpeg, image/jpg, image/png" onchage="checkSize(this)">
        <button class="btn btn-primary" id="write">글작성</button>
    </form>
</body>
</html>
