
@{
    ViewBag.Title = "Write";
}

<h2>Write</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" placeholder="제목" id="title" required>
    </div>
    <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" id="writer" value=@(Server.UrlDecode(Request.Cookies["UserName"].Value)) readonly>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">글 내용</label>
        <textarea class="form-control" rows="5" id="main-content" required></textarea>
    </div>
    <input id="fileInput" type="file" multiple accept="image/jpeg, image/jpg, image/png" onchage="checkSize(this)">
    <button type="button" class="btn btn-primary" id="write">글작성</button>
    
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
    $('#write').click(() => {
        const formdata = new FormData();
        const fileInput = document.getElementById('fileInput');
        const fileName = [];

        if (fileInput.files.length >= 3) {
            alert('파일은 최대 2개까지 첨부 가능합니다.');
            fileInput.files.value = "";
            fileInput.value = "";
            return;
        }
        for (i = 0; i < fileInput.files.length; i++) {
            fileName.push(fileInput.files[i].name);
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }

        const param = {
            Title :  $('#title').val(),
            Content: $('#main-content').val(),
            Email: "@(Server.UrlDecode(Request.Cookies["Email"].Value))",
            FileName: fileName,
            FormData: JSON.stringify(Object.fromEntries(formdata.entries())),
        }
        $.ajax({
            url: '/Board/Write',
            type: 'post',
            data: JSON.stringify(param),
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                console.log(data);
                if (data !== -1) {
                    alert('글 작성이 완료 되었습니다.');
                    location.href = "/Board/Index";
                }
                else {
                    alert('글 작성에 실패하였습니다. 제목과 글 내용을 기입해주세요.');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
    </script>
</body>
</html>
